*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(/desafios/img/abstract-3291293_1920.jpg);
    background-repeat: no-repeat;
    background-color: #f0f0f0;
}

h1 {
    color: rgb(0, 0, 0);
}

p {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 400px;
    border: 15px solid rgb;
    margin: 20px;
}

.items {
    color: rgb(0, 0, 0);
}

img {
    border-radius: 55px;
}

form {
    padding: 20px;
    background-color: #ffffffce;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffffcc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.contenedor {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    
    justify-content: center; 

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 50%;
}

ul{
    line-height: 1.5rem;
    font-weight: 600;
}